body{
	margin: 10%;
	font-family: 'Roboto', sans-serif;
}

h1{
	font-size: 24px;
}

h3 {
	font-weight: normal;
	font-size: 36px;
}

button {
  background-color: #3342FF;
  border: none;
  color: white;
  padding: 20px 72px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  text-transform: uppercase;
}


button:hover {
  background-color: #FF33D1;
}

h3:first-letter {
    text-transform: capitalize;
    display: inline-block;
}